<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{{ title }}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <h1>{{ title }}</h1>
    <hr>
    <div>
        <form action="/merge" method="post" enctype="multipart/form-data">
            <p>
              <label>ADIF File 1:</label><br>
              <input type="file" name="file1">
              (*.adi / *.adif)
            </p>
            <p>
                <label>ADIF File 2:</label><br>
                <input type="file" name="file2">
                (*.adi / *.adif)
            </p>
            <p>
                <label>Compare time window [s]:</label><br>
                <input type="text" name="time_window" value="115">
            </p>
            <p>
              <label>
                <input type="checkbox" name="option_wsjtx_log" value="option_wsjtx_log">
                Generte WSJT-X compatible .log file
              </label>
            </p>
            <p>
                <label>
                  <input type="checkbox" name="option_problems" value="option_problems" checked readonly>
                  Generate merge problem overview (.json)
                </label>
              </p>
              <p>
                <label>
                  <input type="checkbox" name="option_minimal" value="option_minimal">
                  Only output important fields.
                </label>
              </p>
            <p>
              <button>Merge!</button>
            </p>
          </form>
    </div>

    <div>
        <hr>
        <p><strong>Note: This is an early alpha version. Always backup your ADIF files before uploading them -- bad things might happen :-)</strong></p>
        <p>
            <small>This service wraps the <a href="https://github.com/pleasantone/adif_merge">"adif_merge.py"</a> command line tool, which is developed by Paul Traina. This service wrapper has been developed by <a href="https://www.qrz.com/db/DL1PEU">DL1PEU</a>.</small>
        </p>
    </div>

</body>
</html>